<div class="container is-fluid ">
    <div class="columns">
        <div class="column is-12">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Ingreso Prog. Planificación Automática
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <div class="field ">
                                    <label class="label is-small ">Rut Proveedor:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field ">
                                    <label class="label is-small ">Bod. Proveedor:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field ">
                                    <label class="label is-small ">Suc. Despacho:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field ">
                                    <label class="label is-small ">Sector</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field ">
                                    <label class="label is-small ">Jornada Despacho:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field ">
                                    <label class="label is-small ">Departamento:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field ">
                                    <label class="label is-small ">Línea:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field ">
                                    <label class="label is-small ">SKU:</label>
                                    <div class="select is-disabled">
                                        <select>
                                          <option>(Todos)</option>
                                          <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <button class="button is-success " (click)="imprimirGde()">Ingresar </button>
                                <button class="button is-success " (click)="imprimirGde()">Cancelar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>