<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <div class="card-header-title">Acta de Retiro</div>
        </div>
        <div class="card-content ">
            <div class="content">
                <div class="card">
                    <!-- se agrega un margin-bottom de 1px en caso de que que se forme una segunda fila de elementos -->



                    <div class="card-content">

                    </div>
                </div>
                <br>
                <a class="button is-danger ">Cancelar</a>
                <a class="button ">Volver</a>
                <a class="button is-info ">Siguiente</a>
            </div>

        </div>
    </div>


</section>