<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <div class="card-header-title">Editar Direccion de Despacho</div>
        </div>
        <div class="card-content ">
            <div class="content">
                <div class="columns ">
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Region</label>
                            <div class="control ">
                                <div class="select">
                                    <select>
                                      <option disabled>Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Comuna</label>
                            <div class="control ">
                                <div class="select">
                                    <select>
                                      <option disabled>Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" column">
                        <div class="field ">
                            <label class="label is-small ">Calle/Avenida</label>
                            <div class="control ">
                                <input class="input " type="text ">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field ">
                            <label class="label is-small ">Dpto</label>
                            <div class="control">
                                <input class="input is-disabled " type="text ">
                            </div>
                        </div>
                    </div>

                </div>
                <br><br>
                <a class="button is-danger">Cancelar</a>
                <button class="button is-link" (click)="saveUser()">Guardar</button>

            </div>

        </div>
    </div>


</section>