<div class="container is-fluid">
  <div class="columns">
    <div class="column is-12">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Emisión unitaria de guías de despacho
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <form>
              <div class="form-columns">
                <div class="field">
                  <div class="form-column">
                    <label class="label is-small">Seleccione Rut u OC</label>
                    <div class="control">
                        <label class="radio">
                            <input style="margin-top: 17%;"
                              type="radio"
                              name="OCRUT"
                              value="oc"
                              (change)="radioButtonChange($event)"
                              checked
                            />
                            N° OC
                          </label>
                          <label class="radio">
                            <input style="margin-top: 17%;"
                              type="radio"
                              name="OCRUT"
                              value="rut"
                              (change)="radioButtonChange($event)"

                            />
                            RUT
                          </label>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="form-column">
                    <label class="label is-small">Ingrese Rut u OC</label>
                    <div class="control">
                        <input
                        class="input"
                        type="text"
                        placeholder="{{ textInput }}"
                        [(ngModel)]="inputOCRut"
                        name="InputOCRut"
                        (change)='hide()'
                        id="OCRUTID"
                      />
                      <span class="tag is-danger" *ngIf="messageValidBoolean">{{messageValid}}</span>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="form-column">
                    <div class="control">
                        <Button style="margin-top: 27%;" class="button is-success" (click)='buscarGuiasUnitarias()'>
                            Buscar
                            </Button>
                    </div>
                  </div>
                </div>
              </div>
            </form>





            <!-- Resultados de la búsqueda , los cuales estaran contenidos dentro de la etiqueta card-->
            <div class="card">
                <div class="card-content">
                  <p class="title">
                    Resultados de la búsqueda
                  </p>
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">

                          <thead>
                            <tr>
                              <th>Orden de Compra</th>
                              <th>Modelo despacho</th>
                              <th>Estado del CUD</th>
                              <th>Motivo de CUD</th>
                              <th>Estado/Motivo reserva</th>
                              <th>CUD</th>
                              <th>Ubicaci&oacute;n</th>
                              <th>SKU</th>
                              <th>Descripci&oacute;n SKU</th>
                              <th>Regi&oacute;n</th>
                              <th>Comuna</th>
                              <th>Direcci&oacute;n despacho</th>
                              <th>N° OC/Boleta</th>
                              <th>Cantidad</th>
                              <th>Sucursal de Venta</th>
                              <th>Sucursal codigo Stock</th>
                              <th>Transporte</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let gde of arrayGuiaDespacho">
                              <td><input type="checkbox" name="isSelected" [(ngModel)]="gde.isSelected"></td>
                              <td>{{gde.modeloDespacho}}</td>
                              <td>{{gde.estadoCDU}}</td>
                              <td>{{gde.motivoCDU}}</td>
                              <td>{{gde.estadoMotivoReserva}}</td>
                              <td>{{gde.cud}}</td>
                              <td>{{gde.ubicacion}}</td>
                              <td>{{gde.sku}}</td>
                              <td>{{gde.descripcionSKU}}</td>
                              <td>{{gde.region}}</td>
                              <td>{{gde.comuna}}</td>
                              <td>{{gde.nBoleta}}</td>
                              <td>{{gde.cantidad}}</td>
                              <td>{{gde.sucursalVenta}}</td>
                              <td>{{gde.sucursalStock}}</td>
                              <td>{{gde.status}}</td>
                              <td>
                                <a class="button is-small is-success" (click)='buscarTransporte()' >Transporte</a>
                              </td>
                            </tr>

                          </tbody>
                          <!-- <a *ngIf='emailInfo.results.length > 0' class="button is-small is-success" >Exportar</a> -->

                  </table>
                </div>
              </div>
              <br/>
              <br/>
              <button class="button is-success" (click)="imprimirGde()">Imprimir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


