<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <div class="card-header-title">Flujo de Despacho</div>
        </div>
        <div class="card-content ">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-centered">
                        <div class="column is-3">
                            Fecha de Recepcion : 11/02/2019
                        </div>
                        <div class="column is-3">
                            Pedido N° : 1231234
                        </div>
                        <div class="column is-3">
                            Producto : Iphone
                        </div>

                    </div>
                    <div class="md-stepper-horizontal orange">
                        <div class="md-step active">
                            <div class="md-step-circle"><span>1</span></div>
                            <div class="md-step-title">Pedido Recibido</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active">
                            <div class="md-step-circle"><span>2</span></div>
                            <div class="md-step-title">Articulos en Stock</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active">
                            <div class="md-step-circle"><span>3</span></div>
                            <div class="md-step-title">En Separación</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active">
                            <div class="md-step-circle"><span>4</span></div>
                            <div class="md-step-title">Preparado</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active">
                            <div class="md-step-circle"><span>5</span></div>
                            <div class="md-step-title">Enviado</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class="md-step-circle"><span>6</span></div>
                            <div class="md-step-title">Entregado</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>

                </div>

            </div>
            <br>
            <br>
            <a class="button is-danger ">Salir</a>
            <a class="button is-info ">Guardar</a>

        </div>
    </div>


</section>