<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <div class="card-header-title">Acta de Retiro</div>
        </div>
        <div class="card-content ">
            <div class="content">
                <div class="card">
                    <!-- se agrega un margin-bottom de 1px en caso de que que se forme una segunda fila de elementos -->
                    <div class="button is-info is-small" style="margin-bottom: 1px">CUD 1</div>
                    <div class="button is-light is-small" style="margin-bottom: 1px">CUD 2</div>
                    <div class="button is-light is-small" style="margin-bottom: 1px">CUD 3</div>



                    <div class="card-content">
                        <div class="columns ">
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Motivo</label>
                                    <div class="control ">
                                        <div class="select">
                                            <select>
                                                <option disabled>Seleccione</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Descripción Cliente</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Comenta Aquí ..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Comentario Ejecutivo de Atención al Cliente</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Comenta Aquí ..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="button is-info is-small">Estado del Producto</div>
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-9">
                                <div class="columns">
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Abollado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Fondo Roto
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Quebrado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                       Baja Densidad
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                       Hendiduras
                                      </label>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Quemado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Cuero Roto
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Madera Cuarteada
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Roto
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                       Descocido
                                      </label>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Madera Golpeada
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Rayado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Despegado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Madera Agreteada
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                       Dif. Tono Color
                                      </label>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Estructura Suelta
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Peladura
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Sucio
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                        Picado
                                      </label>
                                    </div>
                                    <div class="column">
                                        <label class="checkbox">
                                        <input type="checkbox">
                                       Tela Rota
                                      </label>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label class="checkbox">
                                          <input type="checkbox">
                                         Incompleto
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="columns">
                                    <div class="column">
                                        <div class="field ">
                                            <label class="label is-small ">Otro</label>
                                            <div class="control">
                                                <input class="input " type="text" placeholder="Ingrese">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field ">
                                            <label class="label is-small ">Uso</label>
                                            <div class="control">
                                                <label class="radio">
                                          <input type="radio" name="answer">
                                          Nuevo
                                        </label>
                                                <label class="radio">
                                          <input type="radio" name="answer">
                                          Usado
                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <a class="button is-danger ">Cancelar</a>
                <a class="button ">Volver</a>
                <a class="button is-info ">Siguiente</a>
            </div>

        </div>
    </div>


</section>