<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <div class="card-header-title">Confirmar Ticket</div>
        </div>
        <div class="card-content ">
            <div class="content">
                <div class="card">
                    <!-- se agrega un margin-bottom de 1px en caso de que que se forme una segunda fila de elementos -->
                    <div class="button is-info is-small" style="margin-bottom: 1px">CUD 1</div>
                    <div class="button is-light is-small" style="margin-bottom: 1px">CUD 2</div>
                    <div class="button is-light is-small" style="margin-bottom: 1px">CUD 3</div>



                    <div class="card-content">
                        <div class="columns ">
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">N° Boleta</label> TI1202471239

                                </div>
                            </div>

                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">N° Sucursal</label> 10015

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Fecha de Venta</label> 13-02-2019

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">N° de Caja</label> 5

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">CUD</label> 123561723947612

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">SKU</label> 12365376152735734

                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Desc. Producto</label> TV Led LG 55'

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Estado CUD</label> Entregado Conforme

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Motivo CUD</label> Otro

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Departamento</label> Lima

                                </div>
                            </div>
                            <div class="column ">
                                <div class="field ">
                                    <label class="label is-small ">Dirección</label> Av. Central 321

                                </div>
                            </div>
                            <div class="column is-2 ">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <a class="button is-danger ">Cancelar</a>
                <a class="button ">Volver</a>
                <a class="button is-info ">Siguiente</a>
            </div>

        </div>
    </div>


</section>